*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

/*navbar lagi diilangin*/
.navbar{
    position: fixed;
    z-index: 2;
    text-align: right;
    width: 100%;
    padding: 30px;
}

.navbar ul li{
    display: inline-block;
}

.navbar ul a{
    text-decoration: none;
    background-color: lightblue;
    padding: 15px;
    color: black;
    font-weight: bold;
    border-radius: 20px;
}

#header-name{
    float: left;
    font-size: 40px;
}

.homepage-top{
    display: block;
    position: relative;
    width: 100%;
    height: 720px;
    text-align: center;
}

.background{
    background-image: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8)), url("homepage-background.jpeg");
    background-size: cover;
    display: block;
    position: absolute;
    width: 100%;
    height: 720px;
}

#background-2{
    background-image: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("homepage-background-2.jpeg");
    background-size: cover;
    display: block;
    position: absolute;
    width: 100%;
    height: 1300px;
}

.contact-me{
    margin-top: 1300px;
    display: block;
    position: absolute;
    width: 100%;
    background-color: black;
    height: 250px;
}

.homepage-top-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.homepage-top-content #name-homepage{
    font-size: 50px;
    color: white;
    letter-spacing: 5px;
    width: 1000px;
}

.homepage-top-content #name-homepage-detail{
    font-size: 32px;
    color: lightblue;
    margin: 20px auto;
}

.icon .icon-content li{
    display: inline-block;
    text-decoration: none;
}

.icon .icon-content img:hover{
    opacity: 100%;
    transition: 0.5s;
}

.icon .icon-content img{
    opacity: 60%;
}

/* Button edit lagi woii */
button{
    cursor: pointer;
    transition-duration: 0.4s;
}

.homepage-top-content #homepage-button-contact{
    background-color: transparent;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 30px;
    margin-top: 100px;
}

.homepage-top-content #homepage-button-contact:hover{
    background-color: lightblue;
}

.homepage-top-content #homepage-button-contact:hover p{
    color: black;
}

.homepage-top-content #homepage-button-contact p{
    font-size: 26px;
    color: white;
    font-weight: bold;
}


#homepage-button-project{
    background-color: transparent;
    border: 2px white solid;
    border-radius: 20px;
    padding: 10px 20px;
    margin-top: 50px;
}

#homepage-button-project:hover{
    background-color: lightblue;
}

#homepage-button-project:hover a{
       color: black;
}

#homepage-button-project a{
    font-size: 26px;
    color: white;
    font-weight: bold;
    text-decoration: none;
}

/* Button edit lagi woii */

body{
    height: 2160px;
}

.latest-project{
    width: 100%;
    height: 720px;
    position: absolute;
}

#experience-header{
    font-size: 60px;
    text-align: center;
    margin: 50px;
    color: white;
}

#hacktiv8{
    float: left;
    padding: 50px;
}

.project{
    padding: 100px;
    margin: 20px;
    border: 2px black solid;
    background: white;
    border-radius: 30px;
    
}

.project-button{
    width: 100%;
    text-align: center;
}

#contact-me-email{
    text-align: center;
    color: white;
    font-size: 20px;
    margin: 20px;
}

.contact-me{
    text-align: center;
}

.contact-me a{
    text-decoration: underline;
    color: white;
}